<header>
    <h1>"The only way to do great work is to love what you do."</h1>
    <h2>- Steve Jobs</h2>
    <hr>
    <p>
        I'm a front-end engineer with a passion for creating intuitive, data-driven interfaces. With skills in both front-end development 
        and data analysis, I blend logic and creativity to deliver user-focused solutions. Outside of tech, I channel my creativity through 
        making music and sound FX for games.</p>
    <button>Let's get started!</button>
</header>
