<header class="py-10 px-20 mx-20">

    <div class="mt-28 p-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 shadow-xl">

        <p class="mb-5 text-7xl font-semibold tracking-tight dark:text-white">"The only way to do great work
            is to love what you do."</p>
        <p class="mb-10 text-2xl font-semibold tracking-tight dark:text-white">- Steve Jobs</p>

        <p class="mb-10 font-light text-cyan-50 text-xl">I'm a front-end engineer with a passion for
            creating intuitive, data-driven interfaces. With skills in both front-end development
            and data analysis, I blend logic and creativity to deliver user-focused solutions. Outside of tech, I
            channel my creativity through making music and sound FX for games.</p>
        <a href="#Contacts"
            class="inline-flex items-center px-3 py-2 font-light text-center text-white bg-cyan-700 rounded-lg 
            hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-600 dark:hover:bg-cyan-500 
            dark:focus:ring-cyan-800 duration-300 text-2xl">
            Let's get started!
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>

</header>