<nav class="navbar">
  <mat-grid-list cols="5" rowHeight="75px" gutterSize="10px">
      <!-- Logo -->
      <mat-grid-tile colspan="1" class="navbar-logo">
        <!-- <img src="../assets/logo.png" alt="Logo" height="40"> -->
        <h5>Ery Harinanto</h5>
      </mat-grid-tile>
      <!-- Navigation Links -->
      <mat-grid-tile colspan="3" class="navbar-links">
        <div class="button-row">
          <a mat-button href="#" target="_blank">Projects</a>
          <a mat-button href="#" target="_blank">About</a>
          <a mat-button href="#" target="_blank">Contacts</a>
        </div>
      </mat-grid-tile>
  </mat-grid-list>
</nav>
