<main>
  <!-- Project Section -->
  <section id="MyProjects" class="p-20">
    <p class="mb-20 text-center text-6xl font-medium text-cyan-900">My Projects</p>
    <mat-tab-group>

      <!-- Front-End -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="style-icon">computer</mat-icon>
          <p class="text-xl font-medium text-cyan-900">Front-End</p>
        </ng-template>
        <article>
          <div class="mt-20 grid grid-cols-5 gap-10">
            @for (project of frontendProjects; track frontendProjects) {
            <div class="col-span-3">
              <img [src]="project.image" class="">
            </div>
            <div class="col-span-2 bg-cyan-900 p-5 rounded-xl">
              <h3 class="text-4xl font-semibold p-3 text-center text-cyan-50">{{project.title}}</h3>
              <p class="text-cyan-50 text-2xl font-light p-5">{{project.description}}</p>
            </div>
            }
          </div>
        </article>
      </mat-tab>

      <!-- Data Analysis -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="style-icon">insert_chart</mat-icon>
          <p class="text-xl font-medium text-cyan-900">Data Analysis</p>
        </ng-template>

        <article>
          <!-- <div class="mt-20 grid grid-cols-5 gap-4">
            @for (project of dataAnalysisProjects; track dataAnalysisProjects) {
            <div class="col-span-3">
              <img [src]="project.image" class="">
            </div>
            <div class="col-span-2 bg-cyan-900 p-5 rounded-xl">
              <h3 class="text-4xl font-semibold p-3 text-center text-cyan-50">{{project.title}}</h3>
              <p class="text-cyan-50 text-2xl font-light p-5">{{project.description}}</p>
            </div>
            }
          </div> -->
          <p class="text-7xl text-center my-20">IN DEVELOPMENT</p>
        </article>

      </mat-tab>
      <!-- Game Music FX -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="style-icon">library_music</mat-icon>
          <p class="text-xl font-medium text-cyan-900">Game Music & FX</p>
        </ng-template>

        <!-- <article>
          <div class="mt-20 grid grid-cols-5 gap-4">
            @for (project of gameMusicProjects; track gameMusicProjects) {
            <div class="col-span-3">
              <img [src]="project.image" class="">
            </div>
            <div class="col-span-2 bg-cyan-900 p-5 rounded-xl">
              <h3 class="text-4xl font-semibold p-3 text-center text-cyan-50">{{project.title}}</h3>
              <p class="text-cyan-50 text-2xl font-light p-5">{{project.description}}</p>
            </div>
            }
          </div>
        </article> -->
        <p class="text-7xl text-center my-20">IN DEVELOPMENT</p>
      </mat-tab>
    </mat-tab-group>

  </section>

  <!-- About Section -->
  <section id="About" class="py-10">
    <mat-grid-list cols="2" gutterSize="10px">
      <!-- Profile -->
      <mat-grid-tile colspan="1" class="bg-cyan-50">
        <ul>
          <li class="flex justify-center">
            <div class=" w-32 h-32 rounded-full overflow-clip bg-red-500 mb-5">
              <img src="assets/avatar.jpg" width="160" height="160" class="">
            </div>

          <li>
            <p class="text-center text-3xl font-semibold mb-5 text-cyan-950">About Me</p>
          </li>
          <li>
            <p class="px-20 mb-10 text-cyan-800 font-normal text-xl">IT engineer with a focus on programming, software
              analysis,
              and design. Recognized for being active, honest, responsible, and possessing a strong curiosity and
              dedication to
              continuous learning, thriving in demanding environments.</p>
          </li>
          <li>
            <a class="ml-12 px-20 text-2xl flex justify-center" href="" download="assets/resumeEryHarinanto.pdf">
              <button
                class="text-center text-white bg-cyan-700 rounded-lg p-5
              hover:bg-cyan-950 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-900 dark:hover:bg-cyan-700 
              dark:focus:ring-cyan-800 duration-300 transition ease-in-out hover:-translate-y-1 hover:scale-110">
                Download My Resume</button>
              <mat-icon class="download-icon animate-bounce">arrow_downward</mat-icon>
            </a>

          </li>
          <li class="flex gap-5 justify-center mt-5">
            <a target="_blank" href="https://www.linkedin.com/in/ery-harinanto-12a716220/"><img
                src="assets/linkedin.png" width="60" height="45"></a>
            <a target="_blank" href="https://www.instagram.com/ery_hrnt/"><img src="assets/instagram.png" width="60"
                height="25"></a>
            <a target="_blank" href="https://github.com/eryhrnt"><img src="assets/github.png" class="rounded-xl" width="60"
                height="25"></a>
          </li>
        </ul>
      </mat-grid-tile>
      <!-- Quote -->
      <mat-grid-tile colspan="1" class="bg-cyan-950">
        <p class="px-5 text-6xl font-medium text-cyan-50">Creation is the bridge between imagination and reality; every
          new idea
          brings the world closer to what it could be.</p>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <!-- Contact Section -->
  <section id="Contacts" class="py-20 px-40">
    <div class="bg-gray-800 py-20 px-20 rounded-xl">
      <p class="text-center text-6xl mb-10 text-white">What do you want for your project?</p>
      <p class="text-cyan-50 text-lg font-light mb-10">Transform your vision into reality with a partner who brings
        creativity, expertise, and dedication to every
        project.
        Let's collaborate to create something exceptional that not only meets your goals but exceeds your expectations.
      </p>
      <a href="mailto: eryhrnt@email.com" class="flex justify-center items-center px-3 py-2 font-normal text-center text-white bg-cyan-700 rounded-lg 
            hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-600 dark:hover:bg-cyan-500 
            dark:focus:ring-cyan-800 duration-300 text-2xl">
        Contact Me
        <mat-icon class="email-icon ml-5">email</mat-icon>
      </a>
    </div>
  </section>

</main>