.style-icon{
  scale: 1.5;
  color: #164e63;
  margin-right: 20px;
}

.email-icon{
  scale: 2;
  color: white;
  margin-right: 20px;
}

.download-icon{
  scale: 2;
  color: #164e63;
  margin-left: 24px;
  margin-top: 28px;
}